@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  --scale: min(max(min(1vw, 1vh), 3.6px), 10.8px);
  --page-width: min(calc(90 * var(--scale)), 90vw);
  --color-foreground: #eee;
  --color-background: #222;
  --font-sans-serif: "Inter", "Arial", sans-serif;
  --font-serif: "Merriweather", "Georgia", serif;
  --font-mono: "JetBrains Mono", monospace;

  font-size: calc(2.0 * var(--scale));
  font-family: var(--font-sans-serif);
  font-weight: 400;
  background: var(--color-background);
  color: var(--color-foreground);
}

.page {
  align-self: center;
  width: var(--page-width);
  margin: auto;
}

h1 {
  font-size: calc(4 * var(--scale));
  font-weight: 900;
}

b {
  font-weight: 700;
}